h2 {
      background: linear-gradient(to right, #c8daf4, #c1fae7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      text-shadow: 10px 10px 14px 2px #000000;
}

.readBtn {
      color: rgb(248 113 113);
      background: linear-gradient(to left, #eaeff8, #b3f8e1);
      transition: 0.7s;
      padding: 12px 17px;
      font-weight: 700;
}

.readBtn:hover {
      color: #fff;
      background: linear-gradient(to right, #c6d7f2, #98f5d6);
}

.nav-item:hover {
      color: #fff;
      background-color: rgb(248 113 113);
}

.imageMy {
      border: 4px solid red;
      transition: 1s;
}

.imageMy:hover {
      border: 4px solid green;
}

.projectImg {
      background-size: cover;
      background-position: center;
      height: 250px;
      width: 400px;
}

.visitBtn {
      color: #f87171;
      transition: 0.4s ease-in-out;
      border-bottom: 2px solid #fff;
      padding-bottom: 4px;
}

.visitDas {
      display: none;
      font-size: 24px;
      color: rgb(64, 255, 0);
}

.visitBtn:hover {
      border-bottom: 4px solid #f87171;
      color: white;
      letter-spacing: 3px;
      margin-top: 5px;
}

.socialIcon{
      cursor: pointer;
}

.visitBtn:hover .visitDas {
      display: inline-block;
}

.current {
      background: #f87171;
      color: #fff;
}

.skills h2 {
      color: #f87171 !important;
}

.mycv {
      background: linear-gradient(to left, rgb(112, 111, 111), rgb(234 187 161));
}


.diffBlock{
      box-shadow: -2px 2px 3px 1px #ecafaf;
      transition: .6s ease-in-out;
      cursor: grab;
      animation: fadein 3s ease-in;
}

.diffBlock:hover{
      box-shadow: -5px 5px 10px 2px black;
}

.diffBlock:hover .icon {
      border-color: green;
}


@keyframes fadein {

      0%{
            opacity: 0%;
      }
      100%{
            opacity: 100%;
      }
      
}
@keyframes fadeout {

      0%{
            opacity: 100%;
      }
      100%{
            opacity: 0%;
      }
      
}





/* #f87171 */
